<div class="col-md-6 col-sm-12 mx-auto">
  <!-- CF logo -->
  <!-- <div class="card bg-secondary p-4 cursor-pointer position-absolute rounded-5"
    style=" border: 3px solid #E67E15; right: 20px; max-height: 220px; max-width: 230px;"
    (click)="goToMarketDashboard()" matTooltip="Click to explore the Market Dashboard">

    <div class="d-flex flex-column align-items-center text-center">

     
      <img src="https://cdn-icons-png.flaticon.com/128/11502/11502196.png" alt="Market Dashboard" class="img-fluid mb-2"
        style="max-width: 45%;" />

      <span class="fw-bold" style="color:#ffffff; font-size: 1.1rem;">
        ANNOUNCEMENT
      </span>

      <p class="mt-1 mb-2" style=" font-size: 0.9rem; color: white !important;">
        Introducing Market Dashboard
      </p>

      <button matButton="elevated" class="d-flex align-items-center gap-1">
        Let’s Get Started
       
      </button>

    </div>

  </div> -->

  <h1 class="mt-4 mt-lg-5">
    <span class="custom-text-shadow fw-bold text-info logo">city</span>
    <span class="custom-text-shadow text-white logo">finance.in</span>
  </h1>
  <!-- Ticker -->
  <div class="text-white fs-4">
    <span>Standardised, timely and credible financial information for
      <span class="text-cfPrimary fw-bold countup-span" appCountUp [start]="3800"
        [end]="this._commonService.totalUlbs()" [duration]="3000" [useEasing]="true" [smartEasingThreshold]="1000"
        [smartEasingAmount]="300">
      </span>
      <!-- <span class="cities-count" [countUp]="coveredUlbCount ? coveredUlbCount : 4000"
        [options]="{ startVal: 3800, duration: 5 }">
      </span>  -->
      cities of India
    </span>
  </div>
  <!-- Search -->
  <div class="search-box">
    <form class="filter-form w-100">
      <input type="text" placeholder="Search for City or State" matInput [formControl]="globalFormControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" class="rounded">
        <!-- [routerLink]="['/dashboard/' + option?.type + '/' + option?._id]" -->
        @for (option of filteredOptions(); track $index) {
        <mat-option class="rounded py-1" [value]="option?.name" (onSelectionChange)="dashboardNav(option)">
          <span> {{ option?.name }} </span>
          <small class="text-secondary custom-font-size-6">
            |
            {{
            option.type === "ulb"
            ? option.ulbType.name
            : (option.type | titlecase)
            }}
          </small>
        </mat-option>
        } @if (noDataFound) {
        <mat-option class="text-muted" disabled>
          Sorry, we can’t find anything related to your search. Try searching
          for a city or state
        </mat-option>
        }
      </mat-autocomplete>
    </form>

    <button type="button" class="btn btn-cfPrimary" (click)="globalSearchClick()">
      Search
    </button>
  </div>
</div>
<!-- Suggestion section. -->
<div class="mt-4 text-center">
  <p class="mb-2 text-white">Suggested Searches:</p>
  <div class="row justify-content-center gap-2 px-1">
    @for (item of recentSearchArray; track $index) {
    <a (click)="dashboardNav(item)" (keydown.enter)="dashboardNav(item)" (keydown.space)="dashboardNav(item)"
      tabindex="0" role="button" class="centerSearchedValues col-auto">
      <span class="custom-font-size-6 px-1">{{ item?.name }}</span>
    </a>
    }
  </div>
</div>