<section class="container my-4">
    <div class="position-relative">
        @if(dashboardTabData()) {
        <!-- Main Buttons -->
        <app-tab-buttons [buttons]="dashboardTabData()" (selectedButtonKeyChange)="onSelectedButtonChange($event)">
        </app-tab-buttons>

        <!-- Info about line item -->
        <p>{{ currentSelectedButton().subButtons.text }}</p>
        <!-- Filters -->
        <div class="row container mx-auto p-0">
            <div class="col-md-7">
                @if(stateServiceLabel) {
                <div class="mb-3" style="padding-right: 1rem">
                    <mat-form-field>
                        <mat-label>Choose one</mat-label>
                        <mat-select [(ngModel)]="filterName" (change)="onChangeFilterName()">
                            <!-- <mat-option>None</mat-option> -->
                            @for (item of serviceTabList; track item) {
                            <mat-option [value]="item">{{item}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                } @else {
                <!-- Sub Buttons -->
                <app-tab-buttons [buttons]="currentSelectedButton().subButtons.buttons"
                    (selectedButtonKeyChange)="onSelectedSubButtonChange($event)">
                </app-tab-buttons>
                }
            </div>
            <div class="border rounded bg-light p-3 col-md-5">
                <div class="d-flex gap-2 justify-content-between align-items-center my-2">
                    <select class="form-select form-select-sm" [(ngModel)]="selectedLedgerYear"
                        (change)="onYearChange($event)" id="state_years" style="padding-block: 11px;width:100px">
                        @for (year of years(); track $index) {
                        <option [value]="year" [selected]="year === selectedLedgerYear()">
                            {{ year }}
                        </option>
                        }
                    </select>
                    <app-city-search (onUlbSelect)="onUlbSelect($event)"
                        [stateId]="stateDetails().state._id"></app-city-search>
                    <div role="button" class="d-flex flex-column align-items-center custom-font-size-6"
                        (click)="resetFilter()">
                        <i class="bi bi-arrow-clockwise inline-block"></i>
                        Reset
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    @if(subButton().includes('Mix')) {
    <!-- mix chart section -->
    <div id="mixChartContainer">
        <div class="p-0 col-md-12">
            <app-tab-buttons [buttons]="compareTypeButtons()" (selectedButtonKeyChange)="onSelectCompareType($event)">
            </app-tab-buttons>
        </div>
        @if(this.isChartLoading()) {
        <app-pre-loader></app-pre-loader>
        } @else {
        <app-mix-chart [compareType]="compareType" [responseData]="responseData"></app-mix-chart>
        }
    </div>
    }
    @else {
    <div class="row justify-content-between my-4 position-relative" id="scatterChartContainer">
        <div class="rounded bg-light d-flex flex-column col-sm-12 col-md-12 p-3 mb-2">
            <div class="row justify-content-between align-items-center">
                <!-- Filters -->
                <div class="col-sm-12 col-md-8 mb-4 flex-grow-1 d-flex justify-content-start align-items-center gap-3">
                    @if(!stateServiceLabel) {
                    <button class="takeActionBtn rounded border px-2 py-2 text-dark custom-font-size-6 w-50"
                        (click)="openCompareByDialog()">Compare by: ULBs</button>
                    }
                </div>

                <!-- Expand, download, Share/ Embed -->
                <div
                    class="col-sm-12 col-md-4 mb-4 d-flex justify-content-end gap-3 text-cfSecondary hide-while-download">
                    @for (item of items; track $index) {
                    <button class="btn takeActionBtn" role="button" (click)="takeAction(item.label)">
                        <i [class]="item.icon + ' custom-font-size-6'"></i> {{ item.label }}
                    </button>
                    }
                </div>
            </div>


            <!-- Chart -->
            <div class="">
                @if (isChartLoading()) {
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
                }
                @else {
                <div class="row" style="height: 500px;">
                    <div class="col-12">
                        @if(scatterChart().datasets.length !== 0) {
                        <app-charts [chartConfig]="scatterChart()"></app-charts>
                        }
                    </div>
                </div>
                }
                <app-population-table [stateDetails]="stateDetails()"></app-population-table>
            </div>
        </div>
    </div>
    }
    <div class="container" id="barChartContainer">
        <div class="row">
            <div class="col-12 mt-5 mb-5 d-flex">
                Cities
                <button class="rankingButton" [class]="{ activeButton: sortBy === 'top' }"
                    (click)="getPopulationChart()">
                    Top 10
                </button>
                <button class="rankingButton" [class]="{ activeButton: sortBy === 'bottom' }"
                    (click)="getPopulationChart('bottom')">
                    Bottom 10
                </button>
            </div>
        </div>
        @if (isBarChartLoading()) {
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
        }
        @else {
        <div class="row" style="height: 500px;">
            <div class="col-12">
                @if(barChart().datasets.length !== 0) {
                <app-charts [chartConfig]="barChart()"></app-charts>
                }
            </div>
        </div>
        }
    </div>
</section>