<section class="container my-4">
    <div class="position-relative">
        @if(dashboardTabData()) {
        <!-- Main Buttons -->
        <app-tab-buttons [buttons]="dashboardTabData()" (selectedButtonKeyChange)="onSelectedButtonChange($event)">
        </app-tab-buttons>

        <!-- Info about line item -->
        <p>{{ currentSelectedButton().subButtons.text }}</p>
        <!-- Filters -->
        <div class="row container mx-auto p-0">

            @if(stateServiceLabel) {
            <div class="col-md-5 col-sm-12 mt-4 px-4">
                <mat-form-field appearance="outline">
                    <mat-label>Choose one</mat-label>
                    <mat-select [(ngModel)]="filterName" (selectionChange)="onChangeFilterName()">
                        <!-- <mat-option>None</mat-option> -->
                        @for (item of serviceTabList; track item) {
                        <mat-option [value]="item">{{item}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            } @else {
            <div class="col-auto">
                <!-- Sub Buttons -->
                <app-tab-buttons [buttons]="currentSelectedButton().subButtons.buttons"
                    (selectedButtonKeyChange)="onSelectedSubButtonChange($event)">
                </app-tab-buttons>
            </div>
            }

            <div class="border rounded bg-light pt-3 col-md-7 col-sm-12 ms-auto">
                <div class="d-flex gap-2 justify-content-between align-items-end ">
                    @if(!stateServiceLabel && !isMixBtn) {
                    <!-- <div class="custom-margin w-100">
                        <select class="form-select text-capitalize custom-class" [(ngModel)]="compareCategory"
                            (change)="onChangeCategory($event)">
                            <option value="" selected [disabled]="">
                                Select an Option
                            </option>
                            @for (item of categoryAvgArray; track $index) {
                            <option [value]="item?.value">
                                {{ item?.title }}
                            </option>
                            }

                        </select>
                    </div> -->
                    <mat-form-field appearance="outline" [matTooltip]="'Select an option to view average data'">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="compareCategory" (selectionChange)="onChangeCategory($event)"
                            name="compareCategory" (change)="onChangeCategory($event)">
                            <mat-option value="" selected [disabled]="">
                                Select an Option
                            </mat-option>
                            @for (item of categoryAvgArray; track $index) {
                            <mat-option [value]="item?.value">
                                {{ item?.title }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    }


                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Year</mat-label>
                        <mat-select [(ngModel)]="selectedLedgerYear" (selectionChange)="onYearChange($event)"
                            name="year">
                            @for (year of years(); track $index) {
                            <mat-option [value]="year">
                                {{ year }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                        <select class="form-select custom-margin custom-class w-50" [(ngModel)]="selectedLedgerYear"
                            (change)="onYearChange($event)" id="chart_years">
                            @for (year of years(); track $index) {
                            <option [value]="year" [selected]="year === selectedLedgerYear()">
                                {{ year }}
                            </option>
                            }
                        </select>
                    </mat-form-field> -->
                    <app-city-search (onUlbSelect)="onUlbSelect($event)" [cityName]="ulbObj()?.name || ''"
                        [stateId]="stateDetails().state._id"></app-city-search>

                    <div role="button" class="d-flex custom-margin flex-column align-items-center custom-font-size-6"
                        (click)="resetFilter()">
                        <i class="bi bi-arrow-clockwise inline-block"></i>
                        Reset
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    @if(isMixBtn) {
    <!-- mix chart section -->
    <div id="mixChartContainer">
        <div class="p-0 col-md-12">
            <app-tab-buttons [buttons]="compareTypeButtons()" (selectedButtonKeyChange)="onSelectCompareType($event)">
            </app-tab-buttons>
        </div>
        <div class="p-3 mb-2 col-md-12 bg-light rounded" id="mixChart">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <p>{{`${subButton()} of all ULBs in ${stateDetails().state.name} vs State `}}</p>
                </div>
                <!-- Expand, download, Share/ Embed -->
                <div
                    class="col-sm-12 col-md-4 mb-4 d-flex justify-content-end gap-3 text-cfSecondary hide-while-download">
                    @for (item of items; track $index) {
                    <button class="btn takeActionBtn" role="button" (click)="takeAction(item.label, 'mixChart')">
                        <i [class]="item.icon + ' custom-font-size-6'"></i> {{ item.label }}
                    </button>
                    }
                </div>
            </div>
            @if(this.isChartLoading()) {
            <app-pre-loader></app-pre-loader>
            } @else {
            <app-mix-chart [compareType]="compareType" [responseData]="responseData"
                [mixChartObj]="mixChartObj"></app-mix-chart>
            }
        </div>
    </div>
    }
    @else {
    <div class="row justify-content-between my-4 position-relative" id="scatterChartContainer">
        <div class="rounded bg-light d-flex flex-column col-sm-12 col-md-12 p-3 mb-2" id="scatterChart">
            @if(!stateServiceLabel) {
            <p>{{`${subButton()} of all ULBs in ${stateDetails().state.name} vs State `}}</p>
            }
            <div class="row justify-content-between align-items-center">
                <!-- Filters -->
                <div class="col-sm-12 col-md-8 mb-4 flex-grow-1 d-flex justify-content-start align-items-center gap-3">
                    @if(!stateServiceLabel) {
                    <button class="takeActionBtn rounded border px-2 py-2 text-dark custom-font-size-6 w-50"
                        (click)="openCompareByDialog()">Compare by: ULBs</button>
                    }
                </div>

                <!-- Expand, download, Share/ Embed -->
                <div
                    class="col-sm-12 col-md-4 mb-4 d-flex justify-content-end gap-3 text-cfSecondary hide-while-download">
                    @for (item of items; track $index) {
                    <button class="btn takeActionBtn" role="button" (click)="takeAction(item.label, 'scatterChart')">
                        <i [class]="item.icon + ' custom-font-size-6'"></i> {{ item.label }}
                    </button>
                    }
                </div>
            </div>
            <!-- Chart -->
            <div class="">
                @if (isChartLoading()) {
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
                }
                @else {
                <!-- <div class="row"> -->
                    <!-- <div class="col-12"> -->
                       
                        <div class="scatterChart">
                        @if(scatterChart().datasets.length !== 0) {
                                 <app-charts [chartConfig]="scatterChart()"></app-charts>
                                }
                            </div>
                    <!-- </div> -->
                <!-- </div> -->
                }
            </div>
        </div>
        <app-population-table [stateDetails]="stateDetails()"></app-population-table>
    </div>
    }
    <div class="container" id="barChartContainer">
        <div class="row">
            <div class="col-12 mt-5 mb-5 d-flex">
                Cities
                @if(isMixBtn) {
                <div class="mx-2">
                    <select class="form-select form-select-sm" (change)="onChangeLinteItem($event)">
                        @for (item of compareTypeList; track $index) {
                        <option [value]="item?.code">
                            {{ item?._id }}
                        </option>
                        }
                    </select>
                </div>
                }
                <button class="rankingButton" [class]="{ activeButton: sortBy === 'top' }"
                    (click)="getPopulationChart()">
                    Top 10
                </button>
                <button class="rankingButton" [class]="{ activeButton: sortBy === 'bottom' }"
                    (click)="getPopulationChart('bottom')">
                    Bottom 10
                </button>
            </div>
        </div>
        @if (isBarChartLoading()) {
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
        }
        @else {
        <div class="row bg-light p-3 rounded" style="height: 500px;" id="barChart">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    @if(stateServiceLabel) {
                    <p>{{this.sortBy | titlecase}} 10 performing ULBs on {{ this.filterName }} in {{
                        stateDetails().state.name
                        }}</p>
                    } @else {
                    <p>Compare ULBs on various financial indicators .</p>
                    }
                </div>
                <!-- Expand, download, Share/ Embed -->
                <div
                    class="col-sm-12 col-md-2 mb-4 d-flex justify-content-end gap-3 text-cfSecondary hide-while-download">
                    @for (item of items; track $index) {
                    <button class="btn takeActionBtn" role="button" (click)="takeAction(item.label, 'barChart')">
                        <i [class]="item.icon + ' custom-font-size-6'"></i> {{ item.label }}
                    </button>
                    }
                </div>
            </div>

            <div class="col-12 ">
                <!-- @if(barChart().datasets.length !== 0) { -->
                @if(barDataNotFound) {
                <app-no-data-found></app-no-data-found>
                } @else {
                <app-charts [chartConfig]="barChart()"></app-charts>
                }
            </div>
        </div>
        }
    </div>
</section>



<div class="my-4 text-center custom-font-size-6">
    You can also download the source data in excel format
    <button class="btn btn-sm btn-outline-cfPrimary" (click)="downloadData()">
        <i class="bi bi-download"></i>
        &nbsp;
        Download Data
    </button>
</div>