* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
  font-size: 0.95rem;
}

.mat-tree.cdk-tree {
  background-color: white !important;
}

.onHover:hover {
  background-color: #f8f9fa;
}

.selected {
  background-color: #f8f9fa;
  font-weight: bold;
}
