<!-- <div class="mat-tree-container"> -->

<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="border rounded">
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name" [ngClass]="{
          'border-bottom': true,
          'onHover': true,
          'bg-table-header': node.isHeader,
          'selected': tree.isExpanded(node) || node.selected,
           'click': node.children && node.children.length > 0
        }" [class.node.classname]="node.selected">
        @if (node.children && node.children.length > 0) {
        <button class="p-0 m-0" matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <i [class]="tree.isExpanded(node) ? 'bi-chevron-down fw-bold' : 'bi-chevron-right fw-bold'"></i>
        </button>
        }
        @else if (node.isHeader) {
        <button class="p-0 m-0" style="width: 40px;" matIconButton disabled></button>
        }

        <div class="px-2 py-1 d-flex gap-1 w-100 align-items-center">
            <div [class.selected]="tree.isExpanded(node) && !node.isHeader " [class]=" node.className " style=" width:
                300px;">
                {{node.name}}
                <!-- @if (node.info) {
                <i class="bi bi-info-circle" matTooltip="{{node.info}}" matTooltipPosition="right"></i>
                } -->
            </div>

            <div class="d-flex justify-content-evenly gap-1 flex-grow-1">
                @for(year of node.yearData; track $index) {
                <div [class]="'text-end w-100 px-2 '+ node.className"
                    [class.selected]="tree.isExpanded(node) && !node.isHeader">{{year}}
                    @if (node.yearGrowth?.[$index]) {
                    <br><span [class]="getGrowthClass(node.yearGrowth?.[$index])">
                        ({{ node.yearGrowth?.[$index] }}%)
                        <!-- (<i class="bi bi-arrow-down-short"></i>{{ node.yearGrowth?.[$index] }}%) -->
                    </span>
                    }
                </div>
                <!-- {{year}} -->
                }
            </div>
        </div>
    </mat-tree-node>
</mat-tree>
<!-- </div> -->