<!-- {{ selectedBtn() }}
{{ reportForm.get('reportType')?.value }}
{{ reportForm.get('valueType')?.value }}
{{ reportForm.get('currencyFormat')?.value }} -->
@if (this.yearsSignal().length === 0) {
<app-no-data-found></app-no-data-found>
} @else {
<section class="container">
  <!-- Buttons -->
  <app-tab-buttons [buttons]="buttons" (selectedButtonKeyChange)="onSelectedButtonChange($event)"></app-tab-buttons>

  <div class="d-flex justify-content-end gap-3">
    <button role=" button" class="btn rounded-5 m-2 text-nowrap font-bold py-1 px-2 btn-cfPrimary"
      (click)="openCompareByDialog()">Compare by</button>

    <div role="button" class="d-flex flex-column align-items-center custom-font-size-6" (click)="resetFilters()">
      <i class="bi bi-arrow-clockwise inline-block"></i>
      Reset
    </div>
  </div>

  <!-- Filter -->
  <form [formGroup]="reportForm"
    class="d-flex align-items-center justify-content-between flex-wrap gap-2 border rounded bg-light p-4 my-4">
    <!-- Report Type & Value Format -->
    @for (group of radioOptions; track $index) {
    <div class="min-width">
      <p class="fw-bold mb-2">{{ group.title }}</p>
      <div>
        @for (option of group.options; track option.key) {
        <input type="radio" [id]="option.key" [value]="option.key" [formControlName]="group.controlName" class="me-1" />
        <label [for]="option.key" class="me-3">{{ option.label }}</label>
        }
      </div>
    </div>
    }

    <!-- Currency Format Dropdown -->
    <div class="min-width">
      <label for="currencyFormat" class="d-block fw-bold mb-2">Display Numbers In</label>
      <select id="currencyFormat" formControlName="currencyFormat" class="form-select w-100">
        @for (format of currencyFormats; track format.key) {
        <option [value]="format.key">{{ format.label }}</option>
        }
      </select>
    </div>

    <!-- Search option -->
    <div class="min-width">
      <!-- <mat-form-field> -->
      <label for="filterInput" class="d-block fw-bold mb-2 form-label">Keyword search</label>
      <input id="filterInput" class="form-control w-100" matInput (keyup)="applyFilter($event)"
        placeholder="Ex. Liabilities or Income" #input />
      <!-- </mat-form-field> -->
    </div>
  </form>

  <!-- Table title. -->
  <div class="bg-table-header p-3 text-center rounded fw-bold">{{reportType() | titlecase}} {{buttonLabel()}}</div>

</section>

<!-- Population section -->
<div class="my-4 text-end">
  <p class=" text-secondary custom-font-size-6 my-2 fw-bold">Population (Source: Census 2011)</p>
  <p class="p-0 m-0 text-secondary custom-font-size-6">
    {{population | inrFormat: 'inr' : currencyOptions}}
    <i class="custom-font-size-7">(Greater Hyderabad Municipal Corporation, Telangana)</i>
  </p>
  <p class="p-0 m-0 text-secondary custom-font-size-6">
    {{1964086 | inrFormat: 'inr' : currencyOptions}}
    <i class="custom-font-size-7">(Indore Municipal Corporation, Madhya Pradesh)</i>
  </p>
  <p class="p-0 m-0 text-secondary custom-font-size-6">
    {{1798218 | inrFormat: 'inr' : currencyOptions}}
    <i class="custom-font-size-7">(Bhopal Municipal Corporation, Madhya Pradesh)</i>
  </p>
</div>

<!-- Table data. -->
<div class="table-container">
  @if (isLoading()) {
  <div class="custom-spinner-overlay position-absolute">
    <mat-spinner></mat-spinner>
  </div>
  }
  <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8 border border-bg-light">
    @for (item of headers; track $index) {
    <ng-container [matColumnDef]="item.key" [sticky]="$index === 0">
      <th mat-header-cell *matHeaderCellDef class="text-center fw-bold bg-table-header">
        {{ item.key }}
      </th>
      <td mat-cell *matCellDef="let element" [class]="item.class + ' ' + element.class"
        [class.bg-light]="element.isHeader">

        @if (!element['isHeader'] && item.number) {
        {{
        element['isNumber'] ?
        (getFormattedValue(element[item.key]) | inrFormat : currencyFormat() : currencyOptions) :
        element[item.key]
        }}
        } @else {
        {{ element[item.key] }}
        }

        <!-- Add info icon -->
        @if (element.info && item.key === 'lineItem') {
        <i class="bi bi-info-circle" matTooltip="{{ element.info }}" matTooltipPosition="above"></i>
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="fw-bold p-4 fs-5 text-center" [attr.colspan]="displayedColumns.length - 1">
        No results found for the applied filter.
      </td>
    </tr>
  </table>
</div>

<div class="text-end my-4">
  <i class="bi bi-file-earmark-pdf-fill text-danger"></i>
  <a [href]="fileLink" class="custom-font-size-6">
    How We Standardize Annual Financial Statements?
  </a>
</div>

<!-- Download report section -->
<div class="my-4 overflow-x-auto">
  <table mat-table [dataSource]="downloadReportsDataSource" class="border">
    @for (item of downloadReportsHeaders; track $index) {
    <ng-container [matColumnDef]="item.key">
      <th mat-header-cell *matHeaderCellDef class="bg-table-header fw-bold text-center">
        {{ item.value }}
      </th>
      <td mat-cell *matCellDef="let element" [class]="item.class">
        @if (element[item.key] === 'pdf') {
        <button type="button" class="btn-icon" (click)="onFileClick('pdf', item.value)" aria-label="Open PDF">
          <i class="bi bi-file-earmark-pdf-fill text-danger fs-4"></i>
        </button>
        } @else if (element[item.key] === 'excel') {
        <button type="button" class="btn-icon" (click)="onFileClick('excel', item.value)" aria-label="Open Excel">
          <i class="bi bi-file-earmark-spreadsheet-fill text-success fs-4"></i>
        </button>
        } @else {
        {{ element[item.key] }}
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="downloadReportsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: downloadReportsDisplayedColumns"></tr>
  </table>
</div>

<!-- Note -->
<p class="text-secondary my-4 custom-font-size-6">
  * PDF consists of final financial dataset as published by the ULB. Excel File
  contains standardised data from this raw PDF to enable comparison and
  analysis.
</p>
}