@if(showFeedbackWidget) {
<div class="feedback-sticky" @slideIn (click)="openFeedbackForm()">
    <!-- <button type="button" class="btn btn-close position-absolute top-0 end-0 m-2" aria-label="Close"
        (click)="closeFeedbackWidget($event)">X</button> -->
    <button type="button" class="btn position-absolute top-0 end-0 m-2" aria-label="Close"
        (click)="closeFeedbackWidget($event)">
        <i class="bi bi-x-lg"></i>
    </button>
    <p class="mb-1 text-cfSecondary fw-bold">We'd love your feedback!</p>
    <p>We have just a few questions for you.</p>
</div>
}