<section class="my-4 container">
  <app-tab-buttons [buttons]="buttons" [buttonIdx]="buttonIdx()"
    (selectedButtonKeyChange)="onSelectedButtonChange($event)"></app-tab-buttons>

  @if (isLoading()) {
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  } @else {
  <!-- Borrowing section -->
  @if (currentSelectedButtonKey() === 'borrowing') {
  <!-- Show no data found if years are not available. -->
  @if (borrowingYears().length === 0) {
  <app-no-data-found></app-no-data-found>
  } @else {
  <p>Below are the details of Municipal Bond Issuances undertaken by the ULB</p>
  <nav class="d-flex justify-content-end align-items-center gap-2 mt-4 pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>

    @for (page of paginationRange; track $index) {
    <button [disabled]="page === '..'" [class.active]="page === currentPage" (click)="page !== '..' && goToPage(+page)">
      {{ page }}
    </button>
    }

    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
      Next
    </button>
  </nav>

  @for ( source of [ dataSource_0, dataSource_1, dataSource_2, dataSource_3,
  dataSource_4, dataSource_5, dataSource_6, ]; track $index ) {
  <h5 class="fw-bold border mt-4 mb-2 bg-table-header p-3">
    {{ source?.[0]?.label }}
  </h5>
  <div class="table-container">
    <table mat-table [dataSource]="source" class="border">
      @for (item of displayedColumns; track $index) {
      <!-- <p>{{ item | json }}</p> -->
      <ng-container [matColumnDef]="item" [sticky]="$index === 0">
        <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
        <td mat-cell *matCellDef="let element" [class]="item === 'header' ? 'bg-table-header fw-bold' : null"
          class="border">
          {{ element[item] || "-" }}
        </td>
      </ng-container>
      }
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  } } }

  <!-- Credit ratings -->
  @if (currentSelectedButtonKey() === 'creditRating') {
  <!-- Show no data found if years are not available. -->
  @if (creditRatingYears.length === 0) {
  <app-no-data-found></app-no-data-found>
  } @else {
  <div class="border rounded bg-light p-4 my-4 row justify-content-between">
    <!-- Filter: Years Dropdown -->
    <form [formGroup]="myForm" class="col-sm-12 col-md-3">
      <label for="creditRatingYears" class="d-block fw-bold mb-2">Financial years</label>
      <select id="creditRatingYears" formControlName="year" class="form-select w-100">
        @for (year of creditRatingYears; track year) {
        <option [value]="year">{{ year }}</option>
        }
      </select>
    </form>
  </div>

  <h4 class="bg-table-header p-2 rounded">Credit Rating</h4>
  <div class="overflow-x-auto">
    <table class="border rounded p-2 w-100">
      <tbody>
        @for (row of filteredCreditRating; track $index) {
        <tr>
          <td class="border p-2">{{ $index + 1 + "." }}</td>
          <td class="border p-2">{{ row.agency }}</td>
          <td class="border p-2">{{ row.creditRating }}</td>
          <td class="border p-2">
            <a [href]="row.link" target="_blank">View Full Report</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } } }

  <!-- Market Readiness -->
  @if (currentSelectedButtonKey() === 'marketReadiness') {
  <!-- <button class="btn btn-outline-cfPrimary" (click)="navigatePage()">Compare with different cities </button> -->
  <div class="border rounded bg-light p-4 my-4 row justify-content-between">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div>

        <p class="mb-2 p-0 fw-bold">{{ulbName()}}'s credit profile</p>
        <p class="m-0 p-0">{{intro}} </p>
        <!-- <h4 class="fw-bold my-3 text-start">{{ulbName()}}'s credit profile</h4> -->

        <!-- <p class="m-0 p-0">
          {{ulbName()}}’s falls in well prepared category and is ready for further assessments to avail municipal
          borrowings.
        </p> -->
      </div>
      <form [formGroup]=" yearForm" class="col-sm-12 col-md-3 mb-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Financial Year</mat-label>

          <mat-select formControlName="year">
            @for (year of marketReadinessYears; track year) {
            <mat-option [value]="year">
              {{ year }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>


      </form>
    </div>
    <!-- <app-charts [chartConfig]="chartData()"></app-charts> -->
    @if (doughnutCharts().length > 0) {
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="row row-cols-2 row-cols-lg-5 g-4 text-center">
          @if(chartRenderKey){
          @for (chart of doughnutCharts(); track chart.chartId ) {
          <div class="col d-flex flex-column align-items-center">
            <app-charts [chartConfig]="chart"></app-charts>

            <!-- Title -->
            <div class="chart-title mt-2">
              {{ chart.title }}
            </div>
          </div>
          }
          }

        </div>
      </div>
    </div>
    }



  </div>
  <div class="table-responsive mt-4 border-none">
    <table class="table  align-middle text-center">
      <thead class="">
        <tr>
          <th class="text-start table-light" style="border: 1px solid white;">Indicators</th>
          <th style="border: 1px solid white; border-right: 1px solid black !important;">Max Score</th>
          <th style="border: 1px solid white;">Highest </th>
          <th style="border: 1px solid white;">High </th>
          <th style="border: 1px solid white;">Low</th>
          <th style="border: 1px solid white;">Lowest</th>
        </tr>
      </thead>

      <tbody>
        @if (isLoading()) {
        <app-pre-loader></app-pre-loader>
        }
        @for (section of indicatorTableData(); track section.section) {

        <!-- Section Header -->
        <tr class="table-info fw-bold">
          <td colspan="6" class="text-center" style="border: 1px solid white;">
            {{ section.section }}
            <div class="fw-normal small">
              {{ section.description }}
            </div>
          </td>
        </tr>

        <!-- Rows -->
        @for (row of section.rows; track row.name) {
        <tr>
          <td class="text-start table-light border-white">
            {{ row.name }}
          </td>

          <td class="text-center border-white " style="border-right: 1px solid black !important;">
            {{ row.maxScore }}
          </td>
          @if(getScoreCategory(row.score) === 'na') {
          <td colspan="4" class="text-center fw-bold border-white text-white"
            style="background-color: rgb(194, 194, 194);">
            Data could not be sourced
          </td>
          } @else {
          <!-- Highest -->
          <td class="text-center fw-bold border-white" [class.text-success]="getScoreCategory(row.score) === 'highest'">
            @if (getScoreCategory(row.score) === 'highest') {
            {{ row.score }}
            }
          </td>

          <!-- High -->
          <td class="text-center fw-bold border-white">
            @if (getScoreCategory(row.score) === 'high') {
            {{ row.score }}
            }
          </td>

          <!-- Low -->
          <td class="text-center fw-bold border-white">
            @if (getScoreCategory(row.score) === 'low') {
            {{ row.score }}
            }
          </td>

          <!-- Lowest -->
          <td class="text-center fw-bold border-white">
            @if (getScoreCategory(row.score) === 'lowest') {
            {{ row.score }}
            }
          </td>
          }
        </tr>
        }


        }
      </tbody>
    </table>
  </div>

  }
</section>