@use 'bootstrap/scss/bootstrap' as *;

.city {
  color: $cyan;
  @include rfs($font-size-base * 3.75, font-size);
  font-weight: 700;
  text-shadow: 0px 2px 9px rgba($black, 0.24);
}

.fy {
  color: $white;
  @include rfs($font-size-base * 3.75, font-size);
//   text-shadow: 0px 2px 9px rgba($black, 0.24); 
}

.navbar-brand {
  @include media-breakpoint-up(sm) {
    display: none;
  }

  .city {
    font-size: $font-size-base;
    text-shadow: none;
  }

  .fy {
    color: $black;
    text-shadow: none;
    font-size: $font-size-base;
  }

  & {
    text-shadow: 0px 2px 9px rgba($black, 0.24); // ✅ Safe for future Sass versions
  }
}
