* {
    font-family: var(--ff-base) !important;
    font-weight: var(--fw-medium);
}

.compact-input .mat-form-field-infix {
    padding: 2px 6px;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 2px 6px;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     padding: 0; // remove default padding if needed
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 0.25rem 0.5rem; // adjust as needed
//     min-height: unset; // optional: allow smaller height
// }