* {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mat-tab-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-pagination-icon-color: black;
    --mat-tab-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-active-label-text-color: var(--clr-primary);
    --mat-tab-active-ripple-color: var(--clr-primary);
    --mat-tab-inactive-ripple-color: var(--clr-primary);
    --mat-tab-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-active-focus-label-text-color: var(--clr-primary);
    --mat-tab-active-hover-label-text-color: var(--clr-primary);
    --mat-tab-active-focus-indicator-color: var(--clr-primary);
    --mat-tab-active-hover-indicator-color: var(--clr-primary);
    --mat-tab-active-indicator-color: var(--clr-primary);
}

.charts-container {
    // border: 2px solid slateblue;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.chart-wrapper {
    // border: 1px solid cyan;
    padding: 1rem;
    display: inline-block;
    position: relative;
}

.chart-container {
    // border: 1px solid red;
    // background-color: aqua;
    height: 200px;
    width: 200px;
}

.chart-title {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.dataAvailabiltyTab {
    background-color: #e5fff1;
    color: #0fa755;
    border-radius: 6px;
    font-size: 0.8rem;
}