// .mixedChart,
.barChart {
    min-height: 500px;
    min-width: 500px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    // border: 1px solid green;
}

.gaugeChart,
.pieChart {
    height: 227px;
    width: 227px;

    // border: 1px solid green;
}

// .chart-container {
//     min-height: 500px;
//     min-width: 500px;
//     width: 100%;
//     height: 100%;
//     flex-grow: 1;
//     // border: 1px solid green;
// }

.mat-custom-style {
    --mat-expansion-header-text-font: var(--ff-base);

    p {
        font-family: var(--ff-base);
        font-weight: var(--fw-medium);
        font-size: 0.813rem;
    }
}

.accordion {
    overflow-y: auto;
    max-height: 510px
}

.takeActionBtn {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--clr-secondary);
    cursor: pointer;
    font-size: 0.813rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}