<section class="container my-4">
  @if (this.years().length === 0) {
  <app-no-data-found></app-no-data-found>
  } @else {
  <!-- Show Loader -->
  @if(isLoading()) {
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  } @else {

  <!-- Main Buttons. -->
  <app-tab-buttons [buttons]="buttons" (selectedButtonKeyChange)="onSelectedButtonChange($event)"></app-tab-buttons>

  <!-- Sub buttons. -->
  <p>{{ subButtons[currentSelectedButtonKey()].text }}</p>
  <app-tab-buttons [buttons]="subButtons[currentSelectedButtonKey()].buttons"
    (selectedButtonKeyChange)="onSelectedSubButtonChange($event)"></app-tab-buttons>

  @if(!isChartDataAvailable()) {
  <app-no-data-found></app-no-data-found>
  } @else {
  <div class="row justify-content-between my-4 position-relative">
    <!-- Left side: Chart -->
    @if (isChartDownloading()) {
    <div class="custom-spinner-overlay position-absolute">
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      <mat-spinner></mat-spinner>
    </div>
    }
    <div class="rounded bg-light d-flex flex-column col-sm-12 col-lg-8 p-3 mb-2" id="chartContainer">
      <p class="">
        {{ulbName()}} <b>{{buttonType()}}</b> v/s <b>{{getCompType()}}</b>
      </p>

      <div class="row justify-content-between align-items-center">
        <!-- Filters -->
        <div class="col-sm-12 col-md-8 mb-4 flex-grow-1 d-flex justify-content-start align-items-center gap-3">
          <!-- <input class="rounded border px-2 py-2 custom-font-size-6 w-100" id="filterInput"
            value="State Municipal Corporation Average" #input disabled /> -->
          <button class="takeActionBtn rounded border px-2 py-2 text-dark custom-font-size-6 w-100"
            (click)="openCompareByDialog()">Compare by: {{getCompType()}}</button>

          <!-- Filter: years-->
          <form [formGroup]="myForm" class="w-50">
            <label for="finanaicalYears" class="d-none fw-bold mb-2">
              Financial years
            </label>
            <select id="finanaicalYears" formControlName="year"
              class="text-dark form-select w-100 custom-font-size-6 bg-light" style="padding-block: 0.6rem">
              @for (year of years(); track year) {
              <option [value]="year">{{ year }}</option>
              }
            </select>
          </form>

          <!-- Reset icon -->
          <!-- <button class="takeActionBtn" role="button" (click)="takeAction('reset')">
            <i class="bi bi-arrow-clockwise"></i>Reset
          </button> -->
        </div>

        <!-- Expand, download, Share/ Embed -->
        <div class="col-sm-12 col-md-4 mb-4 d-flex justify-content-end gap-3 text-cfSecondary hide-while-download">
          @for (item of items; track $index) {
          <button class="takeActionBtn" role="button" (click)="takeAction(item.label)">
            <i [class]="item.icon + ' custom-font-size-6'"></i>{{ item.label }}
          </button>
          }
        </div>
      </div>

      @if (isChartLoading()) {
      <app-pre-loader></app-pre-loader>
      <app-pre-loader></app-pre-loader>
      <app-pre-loader></app-pre-loader>
      }
      @else {
      <!-- Chart -->
      <div class="d-flex flex-wrap justify-content-center gap-1">
        @for (chartData of chartsData(); track $index) {
        <div [ngClass]="chartData.chartType === 'barChart' ? 'flex-grow-1 overflow-x-auto' : ''">
          <div class="" [ngClass]="chartData.chartType">
            <app-charts [chartConfig]="chartData"></app-charts>
          </div>
        </div>
        }
      </div>
      }

      <!-- Legends for pie, doughnut, gauge chart. -->
      @if (output()?.legendColors?.length){
      <div class="d-flex flex-wrap mt-3 py-1 gap-2">
        @for (label of output()?.labels; track $index) {
        <div class="custom-font-size-7 m-0 p-0 d-flex align-items-center">
          <i class="bi bi-circle-fill fs-5" [ngStyle]="{ color: output()?.legendColors?.[$index] }"></i>
          &nbsp;
          {{ label }}
        </div>
        }
      </div>
      }
      <!-- @for (chartData of chartsData; track $index) {
      <div class="overflow-x-auto flex-grow-1">
        <div class="w-100 h-100 chart-container">
          <app-charts [chartConfig]="chartData"></app-charts>
        </div>
      </div>
      } -->

    </div>
    <!-- Rigth side: Fyi -->
    <div class="col-sm-12 col-lg-4 rounded accordion-padding">
      @if(isChartLoading()) {
      <app-pre-loader></app-pre-loader>
      } @else {
      @if(infoMsg() && infoMsg().msg) {
      <div [ngClass]="'alert alert-' + infoMsg().text + ' d-flex align-items-start p-2'" style="font-size: 0.65rem;"
        role="alert">
        <i [ngClass]="'bi bi-circle-fill ' + 'text- ' + infoMsg().text + 'custom-font-size-7'"></i>
        &nbsp;{{ infoMsg().msg }}
      </div>
      }}

      <!-- Accordion -->
      <!-- TODO: Clean the code -->
      <div class="accordion">
        <ng-container *ngIf="subButtons[currentSelectedButtonKey()] as currentSubButton">
          <ng-container *ngIf="currentSubButton[subButton()] as indicator">
            <ng-container *ngIf="isIndicatorDetails(indicator)">
              <mat-accordion class="mat-custom-style">
                @for (acc of accordions; track acc.key+$index) {
                @if(indicator[acc.key].length) {
                <mat-expansion-panel class="mb-3">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="custom-font-size-6 fw-bold">
                      {{ acc.label }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  @for (item of indicator[acc.key]; track item.type+$index) {
                  @if (item.type === 'text') {
                  <p>{{ item.content }}</p>
                  } @else if (item.type === 'hyperlink') {
                  <p>
                    <a [href]="item.link" target="_blank" rel="noopener">{{
                      item.content
                      }}</a>
                  </p>
                  } @else if (item.type === 'img') {
                  <img [src]="item.link" [alt]="item.content" style="max-width: 100%" />
                  } }
                </mat-expansion-panel>
                } }
              </mat-accordion>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  } } }
</section>