<form [formGroup]="myForm" class="d-flex gap-2">
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>State</mat-label>
    <input type="text" placeholder="Search for State" matInput formControlName="stateName" id="stateName"
      [matAutocomplete]="auto" class="input-box-style" [class.custom-readonly-input]="isStateReadonly()"
      aria-label="Search for State" />
    @if (stateNameControl.value) {
    <button matSuffix matIconButton aria-label="Clear" (click)="stateNameControl.patchValue('')" class="btn">
      <i class="bi bi-x-lg"></i>
    </button>
    }
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    @for (state of filteredStates | async; track $index) {
    <mat-option [value]="state.name" (onSelectionChange)="onStateSelection(state)">{{ state.name }}</mat-option>
    } @if (noDataFound()) {
    <mat-option class="text-muted" disabled>No results found for your search.</mat-option>
    }
  </mat-autocomplete>
</form>