<section class="container">
  @if(dashboardTabData()) {
  <!-- Main Buttons -->
  <app-tab-buttons [buttons]="dashboardTabData()" (selectedButtonKeyChange)="onSelectedButtonChange($event)">
  </app-tab-buttons>
  }
</section>

@if (currentSelectedButtonKey() === 'Borrowing' && dataSource.length) {
<p>Below are the details of municipal bond issuances undertaken by the ULB</p>

<div class="border rounded bg-light p-4 my-4">
  <p class="text-center fw-bold">Filter By:</p>
  <!-- Search section -->
  <mat-form [formGroup]="filterForm" class="d-flex gap-2 justify-content-evenly align-items-center flex-wrap">
    <!-- ULB search -->
    @if (ulbsList().length) {
    <mat-form-field appearance="outline" class="w-25">
      <mat-select placeholder="Select City" multiple formControlName="ulbs">
        @for (item of ulbsList(); track $index) {
        <mat-option [value]="item">
          {{ item }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    }

    <!-- Year search -->
    @if (yearsList().length) {
    <mat-form-field appearance="outline" class="w-25">
      <mat-select class="selectClass" placeholder="Select Year" multiple formControlName="years">
        @for (item of yearsList(); track $index) {
        <mat-option [value]="item">
          {{ item }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    }

    <!-- Search button -->
    <button (click)="searchFilter()" class="btn btn-cfPrimary">Search</button>

    <!-- Clear button -->
    <button class="btn btn-outline-cfPrimary" (click)="clearFilters()">
      Clear All&nbsp;<i class="bi bi-x-circle"></i>
    </button>
  </mat-form>
</div>

<div class="table-container my-4">
  @if (isLoading()) {
  <div class="custom-spinner-overlay position-absolute">
    <mat-spinner></mat-spinner>
  </div>
  }
  <table mat-table [dataSource]="filteredData" class="mat-elevation-z8 border border-bg-light">
    @for (item of headers; track $index) {
    <ng-container [matColumnDef]="item.key" [sticky]="$index === 0">
      <th mat-header-cell *matHeaderCellDef class=" fw-bold bg-table-header">
        {{ item.value }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[item.key] || 'N/A'}}
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="fw-bold p-4 fs-5 text-center" [attr.colspan]="displayedColumns.length">
        No results found for the applied filter.
      </td>
    </tr>
  </table>
</div>

} @else if (currentSelectedButtonKey() === 'Borrowing' && !dataSource.length) {
<app-no-data-found></app-no-data-found>
}


@if(currentSelectedButtonKey() === 'Credit Rating' && this.stateDetails()) {
<app-credit-rating [stateDetails]="this.stateDetails()"></app-credit-rating>
}